@page
@using RazorPagesTestApp.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Full Name</th>
                    <th>Last Logged In</th>
                    <th>Presence</th>
                    <th>Is Online</th>
                    <th>Grade</th>
                    <th>Diamonds</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Students.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.Students[i].Id" />
                    <tr>
                        <td>@Model.Students[i].Id</td>
                        <td>@Model.Students[i].FullName</td>
                        <td>@Model.Students[i].LastLoggedIn.ToShortDateString()</td>
                        <td>

                            <div class="radio-input">
                                <input class="input green" type="radio" id="option1-@i" value="Present" asp-for="@Model.Students[i].PresenceType" />
                                <input class="input yellow" type="radio" id="option2-@i" value="Late" asp-for="@Model.Students[i].PresenceType" />
                                <input class="input red" type="radio" id="option3-@i" value="Absent" asp-for="@Model.Students[i].PresenceType" />
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@Model.Students[i].IsOnline">
                        </td>
                        <td>
                            <select asp-for="@Model.Students[i].Grade">
                                @for (int j = 1; j <= 12; j++)
                                {
                                    if (Model.Students[i].Grade == j)
                                    {
                                        <option selected value="@j">@j</option>
                                    }
                                    else
                                    {
                                        <option value="@j">@j</option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <div class="rating">
                                @for (int j = 3; j >= 1; j--)
                                {
                                    <input value="@j" id="star@(j + "-" + i)" type="radio" asp-for="@Model.Students[i].DiamondCount">
                                    <label for="star@(j + "-" + i)">&#x2605</label>
                                }
                            </div>


                        </td>
                        <td>@Model.Students[i].Comment</td>
                        <td>
                            <a class="btn btn-primary" asp-page="UpdateStudent" asp-route-id="@Model.Students[i].Id">Edit</a>
                            <a class="btn btn-danger" asp-page-handler="DeleteStudent" asp-route-id="@Model.Students[i].Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Save Changes" class="btn btn-success" />
    </form>

    <a class="btn btn-primary" asp-page-handler="CreateStudent">Add Student</a>
</div>