@page
@model RazorPagesTestApp.Pages.StudentRowModel
@{
}

<td>@Model.Student.Id</td>
<td>@Model.Student.FullName</td>
<td>@Model.Student.LastLoggedIn.ToShortDateString()</td>
<td>

    <div class="radio-input">
        <input class="input green" type="radio" value="Present" asp-for="@Model.Student.PresenceType" />
        <input class="input yellow" type="radio" value="Late" asp-for="@Model.Student.PresenceType" />
        <input class="input red" type="radio" value="Absent" asp-for="@Model.Student.PresenceType" />
    </div>
</td>
<td>
    <input type="checkbox" asp-for="@Model.Student.IsOnline">
</td>
<td>
    <select asp-for="@Model.Student.Grade">
        @for (int j = 1; j <= 12; j++)
        {
            if (Model.Student.Grade == j)
            {
                <option selected value="@j">@j</option>
            }
            else
            {
                <option value="@j">@j</option>
            }
        }
    </select>
</td>
<td>
    <div class="rating">
        @for (int j = 3; j >= 1; j--)
        {
            <input value="@j" type="radio" asp-for="@Model.Student.DiamondCount">
            <label>&#x2605</label>
        }
    </div>


</td>
<td>@Model.Student.Comment</td>
